.sampler {
  padding-bottom: 5rem;
  background: black;

  &__container {
    width: fit-content;
    margin: 0 auto;
  }

  &__trigger {
    height: 3rem;
    width: 3rem;
    margin: 0 2rem 2rem 2rem;
  }

  &__header {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}
