@use "../../styles//partials//mixins" as *;
.sampler {
  padding-bottom: 5rem;
  background: black;

  &__container {
    width: fit-content;
    margin: 0 auto;
  }

  &__trigger {
    height: 3rem;
    width: 3rem;
    margin: 0rem 1rem 1rem 1rem;

    &--playing {
      background-color: #367eff;
    }

    @include tablet {
      margin: 0 2rem 2rem 2rem;
    }

    @include desktop {
      height: 4rem;
      width: 4rem;
      margin: 0 2rem 2rem 2rem;
    }
  }

  &__header {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}
