@use "../../../styles/partials/mixins" as *;
.about {
  &__container {
    width: fit-content;
    margin: 0 auto;

    @include tablet {
      margin: 0 2.5rem 0 2.5rem;
    }

    @include desktop {
      margin: 0 auto;
      width: 60rem;
    }

    > h3 {
      text-align: center;
      margin-top: 1.3rem;

      @include tablet {
        font-size: 1.3rem;
      }
    }

    &--border {
      border-bottom: 1px solid grey;
    }

    &--centre {
      width: fit-content;
      margin: 0 auto;
    }
  }

  &__inner-container {
    display: flex;
    justify-content: space-between;
    width: 20rem;

    @include desktop {
      margin: 0 auto;
    }

    > a {
      display: block;
      margin-top: 0;
      font-size: 10px;
      text-align: center;
      @include tablet {
        font-size: 13px;
        margin-bottom: 1.5rem;
      }
    }
  }
  &__header {
    width: fit-content;
    margin: 2rem auto;
    @include tablet {
      font-size: 2rem;
    }
  }

  &__text {
    margin: 0 2rem 0 2rem;
    font-size: 0.9rem;
    @include tablet {
      font-size: 1.1rem;
      margin: 0 2.3rem 0 2.3rem;
    }
  }

  &__secondary {
    &-header {
      font-size: 1.2rem;
      margin: 3rem 2rem 1rem 2rem;
      @include tablet {
        font-size: 1.4rem;
        margin: 3rem 2.3rem 1rem 2.3rem;
      }
    }

    &-text {
      font-size: 0.9rem;
      margin: 0 2rem 3.5rem 2rem;
      @include tablet {
        font-size: 1.1rem;
        margin: 0 2.3rem 4rem 2.3rem;
      }
    }
  }
}
