@use "../../styles/partials/mixins" as *;

.canvas {
  background: black;
  height: 60vw;

  @include tablet {
    height: 35rem;
  }

  // @include desktop {
  //   height: 35rem;
  //
}

.option {
  &__title {
    margin: 0;
    font-size: 12px;
  }
}

.animation-dropdown {
  background-color: #1f99cd;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-size: 10px;
  padding: 8px 8px 8px 8px;
  // disable default appearance
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include tablet {
    font-size: 12px;
    padding: 10px 10px 10px 10px;
  }
}

.loading {
  color: white;

  width: fit-content;
  margin-left: 0.67rem;
}
