@use "../../styles/partials/mixins" as *;

.canvas {
  background: black;
  height: 60vw;

  @include tablet {
    height: 35rem;
  }

  // @include desktop {
  //   height: 35rem;
  //
}

.option {
  &__title {
    color: white;
    margin: 0;
    font-size: 12px;
  }
}

.animation-dropdown {
  background-color: white;
  align-self: flex-end;

  &__container {
    display: flex;
    justify-content: flex-end;
  }
}
